@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Montserrat&family=Work+Sans&display=swap');

body {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #f8f8ff;
}

h1 {
    text-align: center;
    font-family: 'Fuzzy Bubbles', cursive;
    margin: 20px;
}

#container {
    margin-top: 15px;
    display: grid;
    width: 500px;
    height: 500px;
    background-color: rgba(218, 205, 192, 0.192);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 8px;
    margin: 35px 115px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #61cca5;
    cursor: pointer;
    border-radius: 7px;
}